
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
  color: #333;

}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
}

#left {
  background: #666;
  float: left;
  width: 33.3%;
  color: white;
}

#middle {
  background: #888;
  float: left;
  width: 33.3%;
  color: white;
}

#right {
  background: #666;
  float: left;
  width: 33.3%;
  color: white;
}

#full {
  background: #eee;
  width: 100%;
  clear: both;
  overflow: auto;
}

#division {
  background: #6ea3da;
  margin-top: 20px;
  padding: 20px;
}

aside {
  background: #fff;
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;

}

footer {
  padding: 20px;
  clear: both;
  background: #ccc;
}
